doctype 5
head
  title #{title}
  block head
    link(rel='stylesheet', href='#{prefix}/css/bootstrap.min.css')
    link(rel='stylesheet', href='#{prefix}/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='#{prefix}/css/style.css')
body
  .container
    .row
      .span12
        .page-header
          h1 #{pagetitle}
    .row
      .span12
        .navbar
          .navbar-inner
            .container
              a.btn.btn-navbar(href='#', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='#{prefix}/') #{title}
              .nav-collapse.collapse.navbar-responsive-collapse
                ul.nav
                  li.active
                    a(href='#{prefix}/') Home
                  li
                    a(href='#{prefix}/') Link
                  li
                    a(href='#{prefix}/') Link
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') Dropdown
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#{prefix}/') Action
                      li
                        a(href='#{prefix}/') Another action
                      li
                        a(href='#{prefix}/') Something else here
                      li.divider
                      li.nav-header Nav header
                      li
                        a(href='#{prefix}/') Separated link
                      li
                        a(href='#{prefix}/') One more separated link
                form.navbar-search.pull-left(action='#{prefix}/')
                  input.search-query.span2(type='text', placeholder='Search')
                ul.nav.pull-right
                  li
                    a(href='#{prefix}/') Link
                  li.divider-vertical
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') Dropdown
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#{prefix}/') Action
                      li
                        a(href='#{prefix}/') Another action
                      li
                        a(href='#{prefix}/') Something else here
                      li.divider
                      li
                        a(href='#{prefix}/') Separated link
    .row
      .span9
        block content
      .span3
        block sidebar
  block bodyscripts
    script(src='#{prefix}/js/jquery.min.js')
    script(src='#{prefix}/js/bootstrap.min.js')